@{
  Layout = "_Layout";
}

@using AnimalFarm.Models;
@model AnimalFarm.Models.Animal

<h2>Edit</h2>

<h4>Edit this task: @Html.DisplayFor(model => model.AnimalName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.AnimalId)

    @Html.LabelFor(model => model.AnimalName)
    @Html.TextBoxFor(model => model.AnimalName)

    @Html.LabelFor(model => model.AnimalType)
    @Html.TextBoxFor(model => model.AnimalType)

    @Html.Label("Select trainer")
    @Html.DropDownList("TrainerId")

    <!-- @Html.LabelFor(model => model.BirthDate)
    @Html.TextBoxFor(model => model.BirthDate) -->

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>